@media (min-width: 800px) and (max-width: 1400px)
{
    html
    {
        font-size: 30px;
    }
}

@media (min-width: 1400px) and (max-width: 2000px)
{
    html
    {
        font-size: 36px;
    }
}

@media (min-width: 2000px) and (max-width: 3500px)
{
    html
    {
        font-size: 52px;
    }
}

@media (min-width: 3500px)
{
    html
    {
        font-size: 80px;
    }
}

body 
{
    padding: 0px;
    margin: 0px;
    position:relative;

    background: #010223;
}
/*
body::-webkit-scrollbar
{
    display: none;
}
*/
#name-wrapper
{

    display: flex;
    flex-direction: column;
}

#name-wrapper #name
{
    position: relative;
    left: -0.1rem;

    font-family: Viga;
    font-size: 2rem;
    line-height: 1.8rem;

    color: #F0F0F0;
}

#name-wrapper #mail
{
    font-family: Viga;
    font-size: 0.6rem;
    line-height: 2rem;

    color: #F0F0F0;
}

header
{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 0.3rem;
}

header #text
{
    font-family: Bungee;

    font-size: 0.75rem;
    line-height: 29px;

    text-align: center;

    color: #F0F0F0;
}

#intro
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#intro #text
{
    font-family: Viga;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.25rem;

    padding-top: 20%;

    color: #F0F0F0;

    width: 80%;
}

#text-wrapper
{
    display: flex;
    position: relative;
    top: 5%;
    left: 5%;

    flex-direction: column;
    flex-wrap: wrap;

    width: 50%;
}

#me
{
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 50px 2px rgba(255, 255, 255, 0.25);
    border-width: 6px;
    border-radius: 12px;
}

#social
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#social #link
{
    display: flex;
    width: 15%;
    margin: auto;
    margin-top: 5%;
}

#social img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: 0.1s;
}

#social img:hover
{
    transform: translateY(4%);
}

#first-wrapper
{
    position: relative;
    top: 20%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#pic-wrapper
{
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 300px;

    position: relative;
    left: 10%;
}

@media (max-width: 800px)
{
    header
    {
        display: none;
    }

    html
    {
        font-size: 28px;
    }

    #first-wrapper
    {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        min-width: 345px;
    }

    #me
    {
        display: none;
    }

    #pic-wrapper
    {
        position: absolute;
        min-width: 0px;
        width: 100%;
        left: 0px;
        bottom: 3%;
        display: block;
        flex-direction: unset;
    }

    #social
    {
        position: relative;
        bottom: 0;
        width: 100%;
        margin: auto;
    }

    #intro #text
    {
        position: relative;
        left: 15%;
        width: 70%;
        text-align: justify;
    }

    #text-wrapper
    {
        text-align: center;
        width: 90%;
    }
}

@media (max-width: 600px)
{
    #html
    {
        font-size: 24px;
    }

    #intro #text
    {
        padding-top: 8%;
        width: 84%;
        left: 8%;
    }
}

#projects
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 100%;
    min-width: 345px;

    position: absolute;
    top: 100%;
    left: 0px;
}

#projects #title
{
    font-family: Viga;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;

    color: #F0F0F0;
}

#projects #wrapper
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    position: relative;
}

#projects #column
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
}

#cell
{
    background-color: green;
    padding-top: 2%;

    margin-left: 7%;
    margin-right: 7%;
    margin-top: 7%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 2rem;

    font-family: Viga;
    font-size: 0.7rem;
    color: #F0F0F0;
    text-align: center;

    
    box-sizing: border-box;
    box-shadow: inset -8px 8px 30px rgba(255, 255, 255, 0.25);
}

#thumbnail-wrapper
{
    position: relative;
    top: 5%;
    left: 8%;

    width: 84%;
    height: 75%;

    border-radius: 1.5rem;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}

#thumbnail-wrapper img
{
    width: 100%;
    height: 100%;

    object-fit:cover;
    border-radius: 1.5rem;

}

#thumbnail-text
{
    position: relative;
    top: 6%;
}

#description
{
    font-size: 1em;

    position: relative;
    left: 10%;

    width: 80%;
}

#year
{
    font-size: 0.7em;
    margin-bottom: 0.5rem;
}

footer
{
    margin-top: 1rem;
    font-size: 0.5rem;
    font-family: Viga;
    text-align: center;
    color: #F0F0F0;
    background-color: #222;
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
}

@media (max-width: 800px)
{
    #projects #wrapper
    {
        flex-direction: column;
    }

    #projects #column
    {
        position: relative;
        left: 5%;
        width: 90%;
    }

    #thumbnail-text
    {
        margin-top: 5px;
    }

    #year
    {
        margin-bottom: 1px;
    }

    #cell
    {
        padding-top: 5%;
    }
}