<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Viga">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee">
        <link rel="stylesheet" href="css/index.css">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <base target="_blank">

        <title>Knyaz</title>
        <link rel="shortcut icon" type="image/png" href="misc/favicon.png"/>
    </head>
    <body>
        <header>
            <div id="text">
                knyaz.tech
            </div>
        </header>
        <div id="first-wrapper">
            <div id="text-wrapper">
                <div id="name-wrapper">
                    <div id="name">
                        Roman Knyazhitskiy
                    </div>
                    <div id="mail">
                        roman@knyaz.tech
                    </div>
                </div>
                <div id="intro">
                    <div id="text">
                        I am developer and robotics programmer focused on eternal knowledge and working at the cutting edge of technology.
                    </div>
                </div>
            </div>
            <div id="pic-wrapper">
                <img id="me" src="images/face.jpg" alt="Photo of the handsome guy standing in front of the waterfall"/>
                <div id="social">
                    <a id="link" href="https://github.com/knyazer"><img src="images/social/github.png" alt="Github icon"></a>
                    <a id="link" href="https://t.me/KnyazRoma"><img src="images/social/telegram.svg" alt="Telegram icon"></a>
                    <a id="link" href="https://vk.com/knyrom"><img src="images/social/vk.svg" alt="VK icon"></a>
                    <a id="link" href="https://www.instagram.com/knyaz_._roma"><img src="images/social/instagram.svg" alt="Instagram icon"></a>
                </div>
            </div>
        </div>
        <div id="projects">
            <div id="title">
                Projects
            </div>
            <div id="wrapper">
                <div id="column">
                    <div id="cell" style="background-color: #34915A;">
                        <div id="thumbnail-wrapper">
                            <img src="images/projects/1.jpg" alt="Photo of the amazing black robot on the table"/>
                        </div>

                        <div id="thumbnail-text">
                            <div id="description">Robocup Junior Soccer</div>
                            <div id="year">2016-2021</div>
                        </div>
                    </div>
                    <div id="cell" style="background-color: #254686;">
                        <div id="thumbnail-wrapper">
                            <img src="images/projects/3.png" alt=""/>
                        </div>
                        
                        <div id="thumbnail-text">
                            <div id="description">JS13kgames</div>
                            <div id="year">2017</div>
                        </div>
                    </div>

                </div>
                <div id="column">
                    <div id="cell" style="background-color: #258086;">
                        <div id="thumbnail-wrapper">
                            <img src="images/projects/2.png"/>
                        </div>
                        
                        <div id="thumbnail-text">
                            <div id="description">Satellite simulator</div>
                            <div id="year">2020</div>
                        </div>
                    </div>
                    <div id="cell" style="background-color: #842586;">
                        <div id="thumbnail-wrapper">
                            <img src="images/projects/4.png"/>
                        </div>
                        
                        <div id="thumbnail-text">
                            <div id="description">Russian sign language translator</div>
                            <div id="year">2021</div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                Copyright © 2021, All Rights Reserved
            </footer>
        </div>
    </body>
</html>
