.first-wrapper
{
    justify-content: center;
}

.text-wrapper
{
    position: relative;
    left: 0%;

    padding-left: 7%;
}

.me
{
    width: 45%;
    height: 70vh;

    color: var(--font-color);
    text-align: center;
}

.me img
{
    object-fit: contain;

    width: 100%;
    height: 100%;
}

.me p
{
    position: relative;
    top: -1rem;
    font-style: italic;
}

.intro .text
{
    padding-top: 10%;
    width: 85%;
}

@media (max-aspect-ratio: 1/1)
{
    .text-wrapper
    {
        padding-left: 0;
    }

    .me 
    {
        width: 90%;
        height: auto;

        left: auto;
        right: auto;
        margin-top: 10%;
    }

    .intro .text 
    {
        padding-top: 4vh !important;
    }
}