:root
{
    --current: 24;
    --begin-year: 14;
    --norm: calc(var(--current) - var(--begin-year));

    --width-unit: 1vw;
    --height-unit: 7.5vw;
    --border-size: 0.12rem;
    --cell-width: 20vw;
    --cell-margin: 5vw;
    --border-round-factor: 4;
    --font-size: 2vw !important;
}

.header
{
    position: relative;
    top: 1vw;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: var(--font-color);
}

.container
{
    width: 90vw;

    position: relative;
    top: calc(var(--cell-width) / 2 - 18vw);
    left: 2vw;

    color: var(--font-color);
}

.timeline
{
    position: absolute;

    left: 101%;
}

.timeline p
{
    position: relative;
    margin-top: calc(var(--height-unit) * 2 - 1rem);
    font-size: 1rem;
    line-height: 1rem;
}

.timeline .first 
{
    margin-top: var(--height-unit);
}

.event
{
    position: absolute;
    top: calc((var(--from) - var(--begin-year)) * var(--height-unit));
    right: 10px;

    width: 100%;

    --height: calc((var(--to) - var(--from)) * var(--height-unit));
    height: var(--height);

    --offset: calc(var(--width-unit) * var(--level));
    --hue: calc((var(--from) - var(--begin-year)) * (256 / var(--norm)));
    --cell-pos: calc(100% - (var(--cell-width) + var(--cell-margin)) * var(--index));
    --color: hsl(var(--hue), 100%, 50%);
}

.event .period
{
    position: absolute;
    right: 0;

    width: var(--offset);
    height: var(--height);

    z-index: calc(50 - var(--level));

    border: var(--border-size) solid var(--color);
    border-top-left-radius: calc(var(--border-size) * var(--border-round-factor));
    border-bottom-left-radius: calc(var(--border-size) * var(--border-round-factor));

    background-color: var(--background-color);
}

.event .noend
{
    border-bottom-left-radius: 0;
    border-style: dashed;
    border-bottom: none;
}

.event .connector
{
    position: absolute;
    right: calc(var(--offset) + var(--border-size) * 1.5);
    top: calc(var(--height) / 2 + var(--border-size) / 4); /*TODO: think about it*/
    z-index: 50;

    background-color: var(--color);
    width: calc(var(--cell-pos) - var(--offset));
    height: var(--border-size);
}

.event .cell
{
    position: absolute;
    right: var(--cell-pos);
    top: calc(var(--height) / 2 - var(--cell-width) / 2 + var(--cell-width) * var(--h));

    width: var(--cell-width);

    border: var(--border-size) solid var(--color);
    border-radius: calc(var(--border-size) * var(--border-round-factor) * 1.5);

    background-color: var(--background-color);
    z-index: 100;
}

.event .cell .header
{
    font-size: var(--font-size);
    text-align: center;
    border-bottom: var(--border-size) solid var(--color);

    position: relative;
    left: 10%;
    width: 80%;

    margin-top: 0.4rem;
}

.event .cell .text
{
    font-size: calc(var(--font-size) * 0.7);

    padding-left: 1vw;
    padding-right: 1vw;
}

@media (max-aspect-ratio: 1/1)
{
    :root
    {
        font-size: calc(2vw + 2vh) !important;
    }

    header .text
    {
        font-size: 0.75rem;
    }

    .header
    {
        font-size: 10vw;
    }

    .container
    {
        margin-top: 5vh;
        left: 5vw;

        display: flex;
        flex-direction: column;

        align-items: center;

        --font-size: 32px;
    }

    .period
    {
        display: none !important;
    }

    .connector
    {
        display: none !important;
    }

    .timeline
    {
        display: none !important;
    }

    .event
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;
        left: auto;
        right: auto;
        top: auto;

        width: 80vw;
        height: auto;

        margin-top: 5vh;
    }

    .event .cell
    {
        position: relative;
        
        left: auto;
        right: auto;
        top: auto;

        height: auto;
        width: auto;
    }
    
    .event .cell .header
    {
        font-size: 1.4rem;
    }

    .event .cell .text
    {
        padding-left: 4vw;
        padding-right: 4vw;

        font-size: 1rem;
    }
}