body::-webkit-scrollbar { background-color: transparent; }
body::-webkit-scrollbar-thumb { background-color: transparent; }

.first-wrapper
{
    height: 90vh;
    align-items: center;
}

.text-wrapper
{
    width: 60%;

    position: relative;
    left: 7%;
}

.intro .text
{
    width: 60%;
}

.links-wrapper 
{
    position: relative;
    right: 10%;
}

.links-wrapper svg
{
    width: 2.4rem;
    height: 2.4rem;
}

.link .link-text
{
    text-align: center;
    justify-self: center;
    align-self: center;
}