body::-webkit-scrollbar { background-color: transparent; }
body::-webkit-scrollbar-thumb { background-color: transparent; }

.first-wrapper
{
    height: 90vh;
    align-items: center;
}

.text-wrapper
{
    width: 60%;
}

.links-wrapper
{
    right: 8%;
}

.link .link-text
{
    text-align: center;
    justify-self: center;
    align-self: center;
}

/*
Mobile
*/

@media (max-aspect-ratio: 1/1)
{
    header
    {
        display: none;
        z-index: -999;
    }

    .first-wrapper
    {
        flex-direction: column;
        width: 100%;
        height: auto;

        position: relative;
        top: 2vh;
    }

    .text-wrapper
    {
        width: 100%;
        left: 0;
        justify-content: center;
    }

    .name-wrapper .name
    {
        text-align: center;
        font-size: 10vw;
        line-height: 12vw;
    }

    .name-wrapper .mail
    {
        text-align: center;
        font-size: 1rem;
        line-height: 1.2rem;
        margin-left: 0;
        margin-top: 0.2rem;
    }

    .intro
    {
        width: 90%;

        position: relative;
        left: 5%;
    }

    .intro .text
    {
        width: 100%;
        padding-top: 10%;
    }

    .links-wrapper
    {
        margin-top: 2rem;

        width: 90vw;
        justify-self: center;
        right: auto !important;
    }

    .link
    {
        padding: 0.4rem;

        height: 100%;
        width: auto;
    }

    .link svg 
    {
        height: 1.5rem;
        width: 1.5rem;
    }
}