:root
{
    --intro-width: 80%;
}

li 
{
    margin-bottom: 0.5rem;
}

hr
{
    display: none;
    border-color: var(--font-color-darker);
    border-width: 0.12rem;
    border-left: none;
    border-right: none;
}

.text-wrapper
{
    justify-content: baseline;
    width: 60%;
}

.intro
{
    width: var(--intro-width);
}

.links-local-wrapper
{
    display: flex;
    flex-direction: row;

    width: var(--intro-width);

    justify-content: baseline;
    align-items: center;
}

@media (max-width: 750px) 
{
    .links-local-wrapper
    {
        position: relative;
        left: 10%;
    }
}

.links-local-wrapper svg
{
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

.link
{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    max-width: 3rem;
}

.first-wrapper
{
    margin-top: 7vh;
    height: calc(100vh - 7vh - 1.3rem);
}

.name-wrapper .name
{
    font-size: min(6rem, 6vh);
    line-height: min(6rem, 6vh);
}

.name-wrapper .date
{
    font-size: min(1rem, 3vh);
    line-height: min(1rem, 3vh);
    margin-top: min(0.5rem, 1.5vh);

    color: var(--font-color);
}

.intro .text
{
    width: 100%;
    padding-top: 7vh;
    font-size: 3vh;
    line-height: 3.5vh;
}

.first-following-wrapper
{
    margin-top: 7vh;
    height: calc(100vh - 7vh);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.pic-wrapper
{
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;

    padding-right: 3rem;

    height: 70vh;
}

.pic-wrapper img
{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.text-wrapper
{
    flex-wrap: nowrap;
}

@keyframes pulse-and-fade
{
    0%  {opacity: 1;}
    20% {opacity: 0.2;}
    60% {opacity: 1;}
    99% {opacity: 0; z-index: 888;}
    100%{opacity: 0; display: none; z-index: -9999;}
}

.helper
{
    width: 2rem;
    height: 2rem;
    
    position: fixed;
    bottom: 1rem;
    left: calc(50% - 1rem);

    border: none;

    z-index: 888;

    animation: pulse-and-fade 8s;
    animation-fill-mode: forwards;
}

.helper svg 
{
    height: 100%;
    width: 100%;

    stroke: var(--font-color);
    transition: stroke var(--animation-time) ease;

    cursor: pointer;
}

@media (max-aspect-ratio: 1/1)
{
    header
    {
        display: flex;
        z-index: 0;
    }

    .first-wrapper, .first-following-wrapper
    {
        margin-top: 0;
        flex-direction: column-reverse;
        top: 0;
    }

    .text-wrapper
    {
        margin-top: 1rem;
    }

    .links-local-wrapper
    {
        margin-bottom: 1rem;
    }

    hr 
    {
        display: block;
    }

    .helper
    {
        display: none;
        z-index: -999;
    }

    .pic-wrapper
    {
        width: 90%;
        height: auto;
        padding: 0;
        align-self: center;

        margin-top: 3vh;
    }

    .first-following-wrapper
    {
        height: auto;
        margin-bottom: 0.5rem;
    }
}